<div class="container">
<h2>Dragon Ladies Fifth Edition character generator</h2>
<%= link_to "Make a new character", new_character_path, class: "btn btn-dd" %>
<%= link_to "View your characters", new_character_path, class: "btn btn-dd" %>

<p><span class="glyphicon glyphicon-th-list"></span> Index of exisiting characters:</p>
<ul>
<li>Coming soon.</li>
<li>Really.</li>
<li>We promise.</li>
<li>Coming soon.</li>
<li>Really.</li>
<li>We promise.</li>
<li>Coming soon.</li>
<li>Really.</li>
<li>We promise.</li>
<li>Coming soon.</li>
<li>Really.</li>
<li>We promise.</li>
<li>Coming soon.</li>
<li>Really.</li>
<li>We promise.</li>
</ul>

</br>
</div>