<h2>Welcome to the Dragon ladies Fifth Edition character generator!!!!</h2>
<%= button_to "Make a new character", new_character_path %>
<p>Index of exisiting characters:</p>
<ul><li>Coming soon</li></ul>
