<div class="container">
  <h2>Welcome to the Dragon Ladies Fifth Edition character generator!!!!</h2>
  <p>The time is now: <%= Time.now %></p>
  <%= link_to "Make a new character", new_character_path %>

</div>
