<h2>Welcome to the Dragon ladies Fifth Edition character generator!!!!</h2>
<%= link_to "Make a new character", new_character_path, class: "btn btn-primary" %>
<p>Index of exisiting characters:</p>
<ul><li>Coming soon</li></ul>
