<h2>Welcome to the Dragon Ladies Fifth Edition character generator!!!!</h2>
<%= button_to "Make a new character", new_character_path, class: "btn btn-primary" %>
<p>Index of exisiting characters:</p>
<ul><li>Coming soon</li></ul>
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</br>
Next | Prev